# app/config/abac_policies.yaml
rules:
  is_admin: "is_admin"
  is_owner: "is_owner"
  in_working_hours: "in_working_hours"
  is_public: "is_public"
  has_purchased: "has_purchased"

policies:
  delete_product:
    - "is_admin"
    - ["is_owner", "in_working_hours"]
  download_product:
    - "is_admin"
    - "is_public"
    - "is_owner"
    - "has_purchased"

  edit_product:
    - "is_admin"
    - ["is_owner", "in_working_hours"]
  create_product:
    - "is_admin"
    - "in_working_hours"
